# carpeta .idea creada por WebStorm
.idea

# archivo de deploy donde tengo datos sensibles
deploy.sh

# node_modules es generado por npm al instalar algunas librerias como por ejemplo TailWindCSS
node_modules

# docs es el directorio que uso para publicar el sitio
docs

# public es el directorio que usa por defecto hugo al ejecutar hugo build
public
